#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


img {
  display: block;
  width: 250px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.profile-card_content {
  float: left;
}
.section{
  height: 400px;
}
.navbar{
  list-style-type: none;
}